* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../img/zheleznodorozhnyj_vagon-1366x768.jpg');
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ticket-search {
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-areas:
  "a a"
  "b b"
  "c c"
  "d e"
  "f g"
  "h h"
  "i i"
  ;
  grid-gap: 10px;
}

.header {
  font-size: 1.5rem;
  grid-area: a;
}

.block-from {
  grid-area: b;
}

.block-to {
  grid-area: c;
}

.block-adults {
  grid-area: d;
}

.block-children-10 {
  grid-area: e;
}

.block-children-5 {
  grid-area: f;
}

.block-roundtrip {
  grid-area: g;
}

.block-date, .block-date-roundtrip {
  grid-area: h;
}

.block-date-roundtrip {
  display: flex;
}

.block-date-there, .block-date-back {
  flex: 1;
}

.input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  border: none;
}

.input:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0;
}

.checkbox-el::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: 5px;
  padding: 6px;
  background-color: #fff;
}

.checkbox:checked ~ .checkbox-el::after {
  background-image: url('../img/icon_checkbox_mark.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
} 

.button {
  grid-area: i;
  background-color: red;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  border: none;
}

/* Календарь */

.calendar {
  background-color: #fafdcf;
  min-width: 240px;
  width: 40%;
  padding: 5px;
  border: 1px solid #aaa;
  position: absolute;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-prev, .btn-next {
  background-color: yellow;
  border: none;
}

.btn-prev:hover, .btn-next:hover {
  outline: 1px solid #000;
}

.month-img {
  width: 1.5rem;
}

.month-name {
  flex: 1;
  text-align: center;
  font-weight: 600;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 0;
}

.calendar-body-header, .week {
  display: flex;
}

.calendar-body-header {
  font-weight: 600;
}

.day {
  flex: 1;
  text-align: end;
}

.day6, .day7 {
  color: red;
}
